@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

body {
    font-family: "Inter", sans-serif;
    background-color: rgb(0, 0, 0);
}

/* shared styles */
.display-flex {
    display: flex;
}

/* header, nav and banner styles */
nav ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

.navbar,
.banner {
    max-width: 1044px;
    margin: 0 auto;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}

.list-items {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    align-items: center;
    gap: 50px;
}

.nav-btn {
    border: none;
    border-radius: 46px;
    background-color: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 8px 20px;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
}

.banner {
    gap: 160px;
}

.miama {
    font-family: 'Miama', sans-serif;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}

.btn-1 {
    width: 224px;
    height: 54px;
    border: none;
    border-radius: 42px;
    background-color: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 16px 40px;
    margin-right: 15px;
}

.btn-2 {
    width: 224px;
    height: 54px;
    border: 1px solid white;
    border-radius: 42px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 16px 40px;
}

.banner-content-1 {
    max-width: 520px;
}

.banner-img {
    width: 350px;
    height: 580px;
}

.btn-3 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 900;
}

.btn-des {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}

.btn-4 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 900;
}

/* section 1 styles */
.sec-1 {
    max-width: 1044px;
    margin: 0 auto;
    text-align: center;
}

.sec-1-title {
    color: white;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 100px;
}

.sec-1-des {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 60px;
}

.sec-1-imgs {
    border-radius: 100%;
}

.sec-1-subtitle {
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}

.sec-2 {
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    max-width: 1060px;
    margin: 100px auto;
    align-items: center;
    gap: 150px;
    padding: 30px;
}

.sec-2-title {
    color: white;
    font-size: 3rem;
    font-weight: 900;
}

.sec-2-des {
    color: rgba(255, 255, 255, 0.5);
}

.sec-2-img {
    border-radius: 18px;
}

.sec-3 {
    max-width: 670px;
    margin: 0 auto;
}

.sec-3-title {
    color: white;
    font-size: 3rem;
    font-weight: 900;
}

.sec-3-des {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 80px;
}

.sec-4 {
    max-width: 1440px;
    margin: 0 auto;
    gap: 150px;
    background-color: rgb(34, 34, 34);
}

.sec-4-part-1 {
    max-width: 310px;
}

.sec-4-part-2 {
    max-width: 580px;
}

.sec-4-title {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
}

.sec-4-des {
    color: rgba(255, 255, 255, 0.5);
}

input,
select {
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
}

.sec-5 {
    max-width: 1060px;
    margin: 0 auto;
}

.sec-5-part-1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.sec-5-part-2 {
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.sec-5-title {
    color: white;
    font-size: 3rem;
    font-weight: 900;
}

.sec-5-imgs {
    width: 325px;
    height: 270px;
    border-radius: 18px;
}

.sec-5-subtitle {
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}

.sec-5-des {
    color: rgba(255, 255, 255, 0.5);
}

.sec-6{
    max-width: 1060px;
    margin: 0 auto;
    gap: 100px;
    align-items: center;
    margin-top: 100px;
}

.sec-6-img{
    width: 100%;
    border-radius: 150px 15px
}

.sec-6-title {
    color: rgb(230, 83, 60);
    font-size: 3rem;
    font-weight: 900;
}

.sec-6-des {
    color: rgba(255, 255, 255, 0.5);
}

.list-item{
        color: white;
        font-weight: 500;
}

/* footer styles */
footer {
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 100px;
    padding: 30px;
}

.footer-sec{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 100px;
}

.footer-part-1 {
    width: 440px;
}

.footer-part-1 {
    width: 180px;
}

.footer-title {
    color: rgb(230, 83, 60);
    font-size: 4.3rem;
    font-weight: 800;
}

.footer-des {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
}

.footer-subtitle-1 {
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.footer-subtitle-2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
}

.footer-subtitle-3 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    text-align: center;
}